.container {
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;
    border: 2px solid black;
    height: 100%;
    min-height: 100vh;
}

.nav-section {
    justify-content: flex-start;
}

header {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    border-bottom: 2px solid black;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    width: 100%;
    box-sizing: border-box;
}

.top-bar p,
.top-bar .name,
.top-bar .direct {
    margin: 0;
}

.title {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 170px;
}

.title h1,
.title p {
    margin: 0;
}

.title h1 {
    margin-bottom: 10px;
    font-size: 50px;
    font-family: "Flavors", cursive;
    font-weight: 400;
    font-style: normal;
}



.title p {
    font-size: 17px;
    color: gray;
}

.name,
.direct p {
    margin: 0px;
    font-size: 25px;
}

body {
    margin: 0;
    padding: 0;
}

.name {
    display: flex;
    align-items: center;
    gap: 12px;
}

.name img {
    display: block;
}

.project {
    display: flex;
    flex-direction: column;
    text-align: center;
    min-height: 600px;
    border-right: 2px solid black;
    flex: 1;
}

.project .subtitle {
    margin: 0;
}

.subtitle {
    font-size: 25px;
    font-weight: 60;
    font-family: "Flavors", cursive;
    font-weight: 400;
    font-style: normal;
    padding-top: 20px;
}

.list {
    font-size: 20px;
    border-bottom: 2px solid black;
    width: 100%;
    margin: 0;
    padding: 10px;
}

.second {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 2px solid black;
    width: 100%;
}

.experience .subtitle {
    margin: 0;
}

.middle {
    display: flex;
    flex-direction: column;
    flex: 1;
    border-right: 2px solid black;
}

.open-source {
    padding-left: 30px;
    padding-right: 30px;
}

ul {
    padding-left: 0;
}

.small-text {
    font-size: 20px;
}

.education {
    padding: 20px 30px;
    flex: 1;
}

.roadmap {
    padding-bottom: 30px;
}

.line2 {
    margin-left: -30px;
    margin-right: -120px;
}

.bottom {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}

.quote {
    display: flex;
    flex-direction: row;
}

footer h2 {
    text-align: center;
    padding-bottom: 50px;
    padding-top: 120px;
}

blockquote {
    border-radius: 30px;
    border: 2px solid black;
    padding: 20px;
}

h3 {
    font-size: 20px;
    font-weight: 600;
    font-family: "Flavors", cursive;
    font-weight: 400;
    font-style: normal;
}

ul {
    list-style-type: none; 
}

li::before {
    content: " - ";
}

.experience {
    width: 100%;
    padding-left: 30px;
    border-bottom: 2px solid black;
}

.experience a {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.list2 {
    padding: 20px 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list2 p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.main1 {
    width: 100%;
}

article {
    width: 100%;
    text-align: center;
    padding: 111.5px;
}

article a {
    font-size: 20px;
}

.main2 {
    width: 100%;
    text-align: center;
    padding: 129.5px;
}

.main2 a {
    font-size: 40px;
    font-family: "Honk", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "MORF" 15,
        "SHLN" 50;
}

* {
    box-sizing: border-box;
}

.who {
    color: gray;
}

@media screen and (max-width: 599px) {
    .container {
        min-width: 100%;
        max-width: 100%;
        margin: 0;
        height: 100vh;
    }

    header {
        width: 100%;
    }

    ul {
        padding: 0;
        margin: 0;
    }

    h2 {
        padding: 0;
        margin: 0;
    }

    blockquote {
        margin: 15px 0;
    }

    .top-bar {
        flex-direction: column;
    }

    .direct p {
        font-size: 20px;
    }

    .title {
        padding-top: 25px;
        padding-bottom: 40px;
    }

    .title h1 {
        font-size: 30px;
    }

    .project .subtitle {
        border-bottom: 2px solid black;
        padding-bottom: 15px;
    }

    .experience .subtitle {
        text-align: center;
        padding-bottom: 20px;
    }

    .experience, .open-source {
        width: 100%;
        border-bottom: 2px solid black;
    }

    .middle {
        padding: 0;
        border: none;
    }

    .open-source, .roadmap, .experience ul{
        padding-left: 20px;
    }

    .experience ul {
        border-bottom: 2px solid black;
        padding-bottom: 15px;
    }

    .experience {
        padding-left: 0px;
    }

    .list, .open-source, .roadmap {
        background-color: #E9ECEF;
    }

    .roadmap {
        padding-top: 10px;
        padding-bottom: 15px;
    }

    .name {
        flex-direction: column;
    }

    .second {
        flex-direction: column;
    }

    .project {
        width: 100%;
        border-right: none;
        min-height: auto;
    }

    .main2 {
        padding-bottom: 100px;
    }

    .quote {
        flex-direction: column;
    }

    .education {
        padding: 15px;
    }

    .education .subtitle {
        padding: 0;
        text-align: center;
    }

    aside .subtitle {
        text-align: center;
    }

    .bottom {
        padding-left: 15px;
        padding-right: 15px;
    }

    .nav-section {
        border-bottom: none;
    }
}
